<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="top.zhacker.sample.retail.online.item.domain.category.CategoryRepo">
    <resultMap id="CategoryMap" type="top.zhacker.sample.retail.online.item.domain.category.Category">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="banner" property="banner"/>
        <result column="show_banner" property="showBanner"/>
        <result column="leaf" property="leaf"/>
        <result column="score" property="score"/>
        <result column="hidden" property="hidden"/>
        <result column="version" property="version"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        
    </resultMap>

    <sql id="tb">
        category
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        parent_id, 
        name, 
        banner, 
        show_banner, 
        leaf,
        score,
        hidden,
        version, 
        created_at, 
        updated_at
        
    </sql>

    <sql id="vals">
        #{parentId}, 
        #{name}, 
        #{banner}, 
        #{showBanner}, 
        #{leaf},
        #{score},
        #{hidden},
        0,
        now(), 
        now()
        
    </sql>

    <sql id="criteria">
        <if test="id != null">AND id = #{id}</if>
        <if test="parentId != null">AND parent_id = #{parentId}</if>
        <if test="name != null">AND name = #{name}</if>
        <if test="banner != null">AND banner = #{banner}</if>
        <if test="showBanner != null">AND show_banner = #{showBanner}</if>
        <if test="leaf != null">AND leaf = #{leaf}</if>
        <if test="version != null">AND version = #{version}</if>

        
        
    </sql>

    <insert id="create" parameterType="top.zhacker.sample.retail.online.item.domain.category.Category" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

    <select id="findById" parameterType="long" resultMap="CategoryMap" >
        SELECT <include refid="cols_all" /> FROM <include refid="tb" />
        WHERE id = #{id}
    </select>

    <select id="findByParentIdAndName" parameterType="map" resultMap="CategoryMap" >
        SELECT <include refid="cols_all" /> FROM <include refid="tb" />
        WHERE parent_id = #{parentId} and name = #{name}
        limit 1
    </select>

    <update id="update" parameterType="top.zhacker.sample.retail.online.item.domain.category.Category">
        UPDATE <include refid="tb"/>
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="banner != null">banner = #{banner},</if>
            <if test="showBanner != null">show_banner = #{showBanner},</if>
            <if test="leaf != null">leaf = #{leaf},</if>
            <if test="score != null">score = #{score},</if>
            <if test="hidden != null">hidden = #{hidden},</if>

            updated_at=now(),
            version = version + 1
        </set>
        WHERE id = #{id} and version = #{version}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>

    <select id="findAll" resultMap="CategoryMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        order by score desc, id asc
    </select>

    <select id="findVisible" resultMap="CategoryMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        where hidden = 0
        order by score desc, id asc
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT count(1) FROM <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
    </select>

    <select id="paging" parameterType="map" resultMap="CategoryMap">
        SELECT <include refid="cols_all"/> FROM <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
        order by score desc, id asc
        LIMIT #{offset}, #{limit}
    </select>

</mapper>
